---
import PostCard from '@/components/post-card.astro';
import PostSearch from '@/components/post-search.astro';
import Separator from '@/components/ui/separator.astro';
import Layout from '@/layouts/layout.astro';
import { getCollection } from 'astro:content';

const _posts = await getCollection('posts');
const posts = _posts.sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf());
---

<Layout title="Blog | Christian Penrod">
  <div class="mx-auto mt-fluid-5 max-w-screen-lg">
    <section>
      <h1 class="text-3xl font-bold tracking-widest">BLOG POSTS</h1>
      <p class="max-w-prose text-xs text-2">Explore various sofware-related posts.</p>
    </section>
    <Separator class="mb-8 mt-4" />
    <PostSearch />
    <section class="mt-8">
      <ul data-searched-posts class="grid gap-6 sm:grid-cols-2 sm:gap-10 lg:grid-cols-3"></ul>
      <!-- prettier-ignore -->
      <ul data-static-posts class="grid gap-6 sm:grid-cols-2 sm:gap-10 lg:grid-cols-3">
        {posts.map((post) => (<li><PostCard {post} /></li>))}
      </ul>
    </section>
  </div>
</Layout>
