---
export const prerender = false;
export const partial = true;

import { z } from 'astro/zod';
import { getCollection } from 'astro:content';
import { db, sql } from 'astro:db';

const posts = await getCollection('posts');

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const term = z.string().safeParse(formData.get('query'));

  if (term.success) {
    const payload = await db.run(sql`select title from PostSearch where title match ${term.data}`);
    console.log(payload.rows); // FTS Seach with Astro DB!!!
  }
}
---

<ul data-partial-results>
  {
    posts.map((post) => (
      <li>
        <a>
          <span>{post.data.title}</span>
        </a>
      </li>
    ))
  }
</ul>
