---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  class={twMerge('border-border flex items-center justify-between gap-2 border-t px-4 py-3 text-xs', className)}
>
  <slot />
</div>
