---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  class={twMerge('bg-surface-2 border-border flex min-h-8 items-center gap-2 rounded-t border-b px-4 py-1', className)}
>
  <slot />
</div>
