---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import Icon from './icon.astro';

type Props = Omit<HTMLAttributes<'a'>, 'type'> & { href: string; value: string; icon?: string | undefined };

const { class: className, href, value, icon, ...props } = Astro.props;
---

<a
  {...props}
  {href}
  class={twMerge(
    'text-foreground-2 bg-surface-3 inline-flex items-center justify-center gap-1 rounded-full',
    'border-border h-6 cursor-default rounded border px-2 text-xs whitespace-nowrap select-none',
    'focus-visible:ring-ring focus-visible:ring-1 focus-visible:outline-none',
    icon && 'text-brand ring-ring ring-1',
    className,
  )}
>
  {value}
  {icon && <Icon name={icon} class="size-3" />}
</a>
