---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'input'>;

const { class: className, type, spellcheck, autocomplete, ...props } = Astro.props;
---

<div class={twMerge('bg-gray-3 border-gray-6 relative rounded-sm border', className)}>
  <div class="text-gray-11/70 absolute top-1/2 left-3 z-10 -translate-y-1/2"><slot name="prefix" /></div>
  <input
    {...props}
    type={type ?? 'text'}
    spellcheck={spellcheck ?? false}
    autocomplete={autocomplete ?? 'off'}
    class:list={[
      'text-gray-12 relative z-20 w-full rounded-sm bg-transparent px-10 py-2',
      'placeholder:text-gray-11/70 focus-visible:outline-none',
    ]}
  />
  <div class="text-gray-11/70 absolute top-1/2 right-3 z-30 -translate-y-1/2"><slot name="suffix" /></div>
</div>
