---
import type { ComponentProps } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import Icon from './icon.astro';
import Link from './link.astro';

type Props = ComponentProps<typeof Link>;

const { class: className, size, id, ...props } = Astro.props;
---

<Link
  {...props}
  {id}
  href={`#${id}`}
  size={size ?? '4'}
  class={twMerge(
    'group border-gray-6 text-gray-12 flex items-center justify-start gap-2 border-b pb-2 uppercase',
    className,
  )}
>
  <h2><slot /></h2>
  <Icon
    name="link"
    class:list={[
      'text-accent-11 scale-50 opacity-0 motion-safe:transition-all',
      'group-hover:scale-100 group-hover:opacity-100 group-hover:starting:scale-50 group-hover:starting:opacity-0',
    ]}
  />
</Link>
