---
import type { ComponentProps } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import Icon from './icon.astro';
import Link from './link.astro';

type Props = ComponentProps<typeof Link>;

const { class: className, size, id, ...props } = Astro.props;
---

<Link
  {...props}
  {id}
  href={`#${id}`}
  size={size ?? '4'}
  class={twMerge(
    'group text-gray-12 flex max-w-max items-center justify-start gap-2 uppercase',
    'before:content-[counter(link-header)_"."] before:[counter-increment:link-header]',
    'before:border-accent-9 before:size-6 before:rounded-sm before:border before:border-dotted',
    'before:flex before:items-center before:justify-center before:p-1 before:text-xs',
    className,
  )}
>
  <h2><slot /></h2>
  <Icon
    name="link"
    class:list={[
      'text-accent-11 scale-50 opacity-0 motion-safe:transition-all',
      'group-hover:scale-100 group-hover:opacity-100 group-hover:starting:scale-50 group-hover:starting:opacity-0',
    ]}
  />
</Link>
