---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'> & { defaultValue: string };

const { class: className, defaultValue, ...props } = Astro.props;
---

<div
  {...props}
  x-data={`{ active: "${defaultValue}" }`}
  x-id="['tabs']"
  class={twMerge('border-border grid w-full rounded border', className)}
>
  <slot />
</div>
