---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import Icon from '../../icon.astro';

type Props = HTMLAttributes<'div'> & { icon: string };

const { class: className, icon, ...props } = Astro.props;
---

<div {...props} class={twMerge('border-gray-6 relative flex h-full flex-col rounded-sm border p-4', className)}>
  <slot />
  <div
    class="bg-gray-2/50 border-gray-6 absolute right-0 bottom-0 flex size-10 items-center justify-center rounded-tl-lg border-t border-l"
  >
    <Icon name={icon} class="text-gray-11" />
  </div>
</div>
