---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  class={twMerge('scrollbar max-h-[calc(95dvh-9rem)] overflow-y-auto p-6 lg:max-h-[calc(70dvh-9rem)]', className)}
>
  <slot />
</div>
