---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div {...props} class={twMerge('max-h-[calc(70dvh-9rem)] overflow-y-auto p-6 scrollbar-thin', className)}>
  <slot />
</div>
