---
import Link from '@/components/ui/link.astro';
import Layout from '@/layouts/layout.astro';
import { ArrowLeft } from 'lucide-astro';
---

<Layout>
  <div class="mt-fluid-6 text-center">
    <h1 class="text-fancy text-9xl tracking-widest">404</h1>
    <p class="text-xl text-2">Page Not Found</p>
    <Link href="/" class="mt-fluid-4 gap-3">
      <ArrowLeft size={16} aria-hidden /> Go Back home
    </Link>
  </div>
</Layout>
