---
import Date from '@/components/date.astro';
import Layout from '@/layouts/layout.astro';
import { getCollection } from 'astro:content';

const roles = await getCollection('roles').then(async (roles) =>
  Promise.all(
    roles
      .sort((a, b) => b.data.start.valueOf() - a.data.start.valueOf())
      .map(async (entry) => {
        const { Content } = await entry.render();
        return { Content, role: entry.data };
      }),
  ),
);
---

<Layout title="Career | Christian Penrod">
  <section class="mx-auto mt-fluid-3 flex max-w-screen-sm flex-col gap-fluid-2">
    <h1 class="text-2xl">Career</h1>
    <div class="flex flex-col gap-8">
      {
        roles.map(({ role, Content }) => (
          <div class="rounded-md bg-2 p-6 shadow">
            <h2 class="font-normal text-brand text-lg">{role.company}</h2>
            <div class="font-1 text-2">
              <Date>{role.start}</Date> - {role.end ? <Date>{role.end}</Date> : 'Present'}
            </div>
            <div class="relative">
              <div class="absolute bottom-1 top-5 w-2 rounded-md bg-brand opacity-30" />
              <div data-role-content class="flex flex-col pl-6">
                <Content />
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</Layout>

<style lang="scss">
  [data-role-content] {
    :global(p) {
      @apply mt-3 max-w-[60ch] font-1 text-2 text-xs;
    }

    :global(h3) {
      @apply relative mt-6 before:absolute before:-left-6 before:top-[50%]
             before:h-[0.95rem] before:w-[0.95rem] before:translate-x-[-0.215rem]
             before:translate-y-[-50%] before:rounded-full before:bg-brand before:content-['']
             last-of-type:before:border-[0.2rem] last-of-type:before:border-brand
             last-of-type:before:bg-transparent;
    }
  }
</style>
