---
import { Picture } from '@astrojs/image/components';
import Anchor from '@components/Anchor.astro';
import GithubCard from '@components/GithubCard.astro';
import PostCard from '@components/PostCard.astro';
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { ArrowRight, Minus } from 'lucide-preact';

const repos = ['feedjoy', 'christianpenrod'];
const posts = (await getCollection('posts'))
  .sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf())
  .slice(0, 2);
---

<Layout>
  <section class="mt-fluid-5 flex items-center justify-between">
    <div>
      <h1 class="text-4xl">Hi, I'm Christian</h1>
      <h2 class="text-2 text-xl">Front-End Web Developer</h2>
      <ul class="mt-fluid-4 flex flex-col gap-2 font-1">
        <li class="flex flex-wrap items-center gap-x-2">
          <Minus class="h-4 shrink-0" /> Web Developer
          <Anchor href={import.meta.env.JOB}>@McKesson</Anchor>
        </li>
        <li class="flex flex-wrap items-center gap-x-2">
          <Minus class="h-4 shrink-0" /> CS Bachelors
          <Anchor href={import.meta.env.COLLEGE}>@LaRoche</Anchor>
        </li>
        <li class="flex flex-wrap items-center gap-x-2">
          <Minus class="h-4 shrink-0" /> Pittsburgh, PA, USA
        </li>
      </ul>
    </div>
    <div
      class={`relative rounded-full ring-2 ring-brand ring-opacity-10
              w-[230px] h-[230px] lg:h-[280px] lg:w-[280px] sm:block hidden
              before:absolute before:inset-0 before:rounded-full before:bg-2`}
    >
      <Picture
        src={import('@public/me.webp')}
        alt="A picture of me"
        widths={[230, 280, 2048]}
        sizes="(min-width: 768px) 280px, 230px"
        class="relative rounded-full"
      />
    </div>
  </section>
  <div class="my-fluid-4 h-0.5 rounded-md bg-2"></div>
  <section class="flex flex-col gap-fluid-1">
    <h3 class="text-2 text-lg">Projects</h3>
    <!-- prettier-ignore -->
    <ul class="grid gap-fluid-4 sm:grid-cols-2">
      {repos.map((repo) => <li><GithubCard repo={repo} /></li>)}
    </ul>
  </section>
  <div class="my-fluid-4 h-0.5 rounded-md bg-2"></div>
  <section class="flex flex-col gap-fluid-1">
    <h3 class="text-2 text-lg">Recent Posts</h3>
    <!-- prettier-ignore -->
    <ul class="grid gap-fluid-4 sm:grid-cols-2">
      {posts.map((post) => <li><PostCard post={post} /></li>)}
    </ul>
    <a href="/blog" class="group flex items-center gap-2 self-end">
      <span class="text-xs group-hover:text-brand">View All Posts</span>
      <ArrowRight aria-hidden class="h-4 w-4 shrink-0 stroke-brand" />
    </a>
  </section>
</Layout>
