---
import Me from '@/assets/me.webp';
import Socials from '@/components/socials.astro';
import Separator from '@/components/ui/separator.astro';
import Layout from '@/layouts/layout.astro';
import { Image } from 'astro:assets';
---

<Layout>
  <div class="mx-auto mt-fluid-4 flex max-w-screen-lg flex-col gap-fluid-4">
    <section class="flex justify-between">
      <div>
        <h1 class="text-3xl font-bold tracking-widest">CHRISTIAN PENROD</h1>
        <p class="text-xl tracking-wider text-2">Front-End Web Developer</p>
        <p class="mb-fluid-4 mt-fluid-2 max-w-prose text-xs text-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae incidunt, corporis,
          corrupti velit nesciunt, officiis nisi ducimus voluptatem ratione minus temporibus
          voluptatibus odio quos sit. Totam hic accusantium esse culpa?
        </p>
        <Socials />
      </div>
      <div class="h-[280px] w-[280px] rounded border-2 [&_img]:rounded">
        <Image
          src={Me}
          alt="Profile Picture"
          loading="eager"
          quality={100}
          width={2048}
          height={2048}
        />
      </div>
    </section>
    <Separator />
    <section>
      <h3 class="font-bold leading-none tracking-wider text-2">PROJECTS</h3>
    </section>
    <Separator />
    <section>
      <h3 class="font-bold leading-none tracking-wider text-2">RECENT POSTS</h3>
    </section>
  </div>
</Layout>
