---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'> & { value: string };

const { class: className, value, ...props } = Astro.props;
---

<div
  {...props}
  role="tabpanel"
  tabindex="0"
  x-cloak
  :id={`$id('tabs') + '-tabpanel-${value}'`}
  :aria-labelledby={`$id('tabs') + '-tab-${value}'`}
  :aria-hidden={`active !== "${value}"`}
  class={twMerge('focusable p-6 aria-hidden:hidden', className)}
>
  <slot />
</div>
