---
import type { HTMLAttributes } from 'astro/types';
import { ExternalLink } from 'lucide-preact';

type Props = HTMLAttributes<'a'> & { nostyle?: boolean };

const { href, target, nostyle, ...props } = Astro.props;
const external = String(href).startsWith('https://');
const externalStyles = `text-brand-1 hover:after:absolute hover:after:right-0 hover:after:left-0 
                        hover:after:bottom-[2px] hover:after:rounded-md hover:after:border-t-[0.2rem] 
                        hover:after:border-solid hover:after:border-brand-2 hover:after:content-[""]`;
---

<a
  {...props}
  href={href}
  target={external ? '_blank' : target}
  rel={external ? 'nofollow noopener noreferrer' : target}
  class={`cursor-pointer relative inline-flex items-center gap-1 rounded-sm no-underline
          hover:text-brand-1 focus-visible:text-brand-2
          ${external && !nostyle ? externalStyles : ''}}`}
>
  <span><slot /></span>
  {external && !nostyle && <ExternalLink class="h-5 w-5 -translate-y-[1px]" />}
</a>
