---
import { Search } from 'lucide-astro';
import { twJoin } from 'tailwind-merge';
---

<div class="relative flex items-center justify-between rounded border text-xs">
  <div class="absolute left-2 top-1/2 z-10 shrink-0 -translate-y-1/2 text-2/50">
    <Search slot="prefix" size={12} aria-hidden />
  </div>
  <input
    data-post-search-input
    type="text"
    spellcheck="false"
    autocomplete="off"
    placeholder="Search Posts"
    class={twJoin(
      'relative z-20 flex-1 shrink-0 rounded bg-transparent py-1 pl-7 pr-10',
      'placeholder:text-2/50 focus-visible:outline-none focus-visible:ring-1',
      'disabled:pointer-events-none disabled:opacity-50',
    )}
  />
  <div class="absolute right-2 top-1/2 z-10 shrink-0 -translate-y-1/2 text-2/50">
    <kbd class="rounded-sm border bg-2 px-2 py-0.5 font-sans !text-xxs leading-none text-1">/</kbd>
  </div>
</div>

<script>
  // @ts-ignore
  import { Input, Instance, ResultList } from '@pagefind/modular-ui';
  import type { CollectionEntry } from 'astro:content';

  type Data = { raw_url: string; meta: CollectionEntry<'posts'>['data'] & { readingTime: string } };

  document.addEventListener('astro:page-load', async () => {
    const pagefind = new Instance({ bundlePath: '/pagefind/' });
    const searchInput = document.querySelector('[data-post-search-input]') as HTMLInputElement;
    const staticPosts = document.querySelector('[data-static-posts]') as HTMLUListElement;

    document.addEventListener('keydown', (e) => {
      e.key === '/' && (e.preventDefault(), searchInput.focus());
    });

    pagefind.on('search', (term: string) => staticPosts.classList.toggle('hidden', !!term.length));
    pagefind.add(new Input({ inputElement: '[data-post-search-input]', debounceTimeoutMs: 0 }));
    pagefind.add(
      new ResultList({
        containerElement: '[data-searched-posts]',
        placeholderTemplate: () => '<li></li>',
        resultTemplate: ({ raw_url, meta }: Data) => {
          const post = encodeURIComponent(JSON.stringify({ ...meta, url: raw_url }));
          return `<li><post-card data-post="${post}" /></li>`;
        },
      }),
    );
  });
</script>
