---
import type { CollectionEntry } from 'astro:content';
import { Eye } from 'lucide-astro';

type Props = { slug: CollectionEntry<'posts'>['slug'] };

const { slug } = Astro.props;
---

<div class="flex items-center gap-2 rounded border bg-2 px-2 tracking-wider">
  <Eye class="shrink-0" size={14} aria-hidden />
  <span data-post-views={slug}>000000</span>
</div>

<script define:vars={{ slug }}>
fetch('/blog/api', { method: 'PUT', body: JSON.stringify({ slug }) }).then(async (res) => {
  const el = document.querySelector(`[data-post-views="${slug}"]`);
  el.textContent = (await res.text())?.toString().padStart(6, '0');
});
</script>
