---
import { Link } from 'lucide-astro';
import { twJoin } from 'tailwind-merge';
import Separator from './ui/separator.astro';

const slot = await Astro.slots.render('default');
const hash = slot.toLowerCase().replace(/ /g, '-');
---

<div class="flex flex-col gap-2">
  <a
    id={hash}
    href={`#${hash}`}
    class={twJoin(
      'group max-w-max rounded text-base motion-safe:transition-colors',
      'hover:text-emphasis focus-visible:outline-none focus-visible:ring-2',
    )}
  >
    <h2 class="flex items-center gap-1 uppercase tracking-wider">
      {slot}
      <Link
        size={14}
        aria-hidden
        class={twJoin(
          'opacity-0 group-hover:opacity-100 group-focus-visible:opacity-100',
          'motion-safe:transition-opacity',
        )}
      />
    </h2>
  </a>
  <Separator />
</div>
