---
import { LinkIcon } from 'lucide-preact';
import Separator from './ui/separator.astro';

const slot = await Astro.slots.render('default');
const hash = slot.toLowerCase().replace(/ /g, '-');
---

<div class="flex flex-col gap-2">
  <a
    id={hash}
    href={`#${hash}`}
    class="group max-w-max text-base hover:text-emphasis motion-safe:transition-colors"
  >
    <h2 class="flex items-center gap-1 uppercase tracking-wider">
      {slot}
      <LinkIcon
        size={14}
        aria-hidden
        class="opacity-0 group-hover:opacity-100 motion-safe:transition-opacity"
      />
    </h2>
  </a>
  <Separator />
</div>
