---
import { twJoin } from 'tailwind-merge';
import Icon from './ui/icon.astro';
import Separator from './ui/separator.astro';
import Text from './ui/text.astro';

const slot = await Astro.slots.render('default');
const hash = slot.toLowerCase().replace(/ /g, '-');
---

<div class="flex flex-col gap-2">
  <a
    id={hash}
    href={`#${hash}`}
    class={twJoin(
      'group hover:text-brand max-w-max rounded',
      'focus-visible:ring-ring focus-visible:ring focus-visible:outline-none motion-safe:transition-colors',
    )}
  >
    <Text as="h2" class="flex items-center gap-2 text-lg uppercase">
      {slot}
      <Icon
        name="link"
        class={twJoin(
          'scale-50 opacity-0 motion-safe:transition-all',
          'group-hover:scale-100 group-hover:opacity-100',
          'group-hover:starting:scale-50 group-hover:starting:opacity-0',
        )}
      />
    </Text>
  </a>
  <Separator />
</div>
