---
import type { CollectionEntry } from 'astro:content';
import { Eye } from 'lucide-preact';

type Props = { slug: CollectionEntry<'posts'>['slug'] };

const { slug } = Astro.props;
---

<div class="flex items-center gap-2 text-2">
  <Eye class="h-6 w-6 stroke-brand" />
  <span data-post-views={slug}>-- Views</span>
</div>

<script define:vars={{ slug }}>
  fetch('/api/view-post', { method: 'PUT', body: JSON.stringify({ slug }) })
    .then((res) => res.json())
    .then((_views) => {
      const formatter = new Intl.NumberFormat('en', { notation: 'compact' });
      const views = formatter.format(_views);
      const el = document.querySelector(`[data-post-views="${slug}"]`);
      el.textContent = `${views} Views`;
    });
</script>
