---
import { twJoin } from 'tailwind-merge';
import Clipboard from './ui/clipboard.astro';
---

<figure {...Astro.props} class="rounded border">
  <figcaption class="flex items-center rounded-t border-b bg-2 pl-4 text-xxs text-2">
    <slot name="title" />
    <Clipboard target="$el.parentElement.nextElementSibling" class="ml-auto px-4 py-1.5" />
  </figcaption>
  <div
    class={twJoin(
      // base
      'overflow-auto bg-[--shiki-color-background] p-4 font-sans text-xxs',
      // pre
      '[&_pre]:rounded [&_pre]:focus-within:outline-none [&_pre]:focus-within:ring-2',
      // code
      '[&_code]:[counter-reset:line]',
      // line hightlighting
      '[&_[data-highlighted-line]_span]:opacity-30',
      // line numbers
      '[&_[data-line]::before]:[content:counter(line)]',
      '[&_[data-line]::before]:[counter-increment:line]',
      '[&_[data-line]::before]:mr-4',
      '[&_[data-line]::before]:w-5',
      '[&_[data-line]::before]:opacity-40',
    )}
  >
    <slot />
  </div>
</figure>
