---
import type { CollectionEntry } from 'astro:content';
import { Twitter } from 'lucide-preact';

type Props = { post: CollectionEntry<'posts'> };

const url = new URL('https://twitter.com/intent/tweet');
url.searchParams.append('text', Astro.props.post.data.title);
url.searchParams.append('url', `${Astro.site}blog/${Astro.props.post.slug}`);
url.searchParams.append('via', import.meta.env.USERNAME);
---

<a
  href={url}
  target="_blank"
  rel="nofollow noopener noreferrer"
  aria-label="Share on Twitter"
  class={`group flex items-center gap-2 rounded-md bg-2 py-2 px-4 shadow
          hover:outline hover:outline-2 hover:outline-offset-4 hover:outline-brand-1`}
>
  <Twitter class="h-6 w-6 stroke-brand-1" />
  <span class="text-brand-2 text-sm group-hover:text-brand-1">Share</span>
</a>
