---
import type { CollectionEntry } from 'astro:content';
import { Twitter } from 'lucide-preact';

type Props = { post: CollectionEntry<'posts'> };

const { slug, data } = Astro.props.post;
const href = new URL('https://twitter.com/intent/tweet');

href.searchParams.append('text', data.title);
href.searchParams.append('url', String(new URL(`blog/${slug}`, Astro.site)));
href.searchParams.append('via', import.meta.env.USERNAME);
---

<a
  href={href}
  target="_blank"
  rel="nofollow noopener noreferrer"
  aria-label="Share on Twitter"
  class={`flex items-center gap-2 rounded-md bg-2 py-2 px-4 shadow
          hover:outline hover:outline-2 hover:outline-offset-4 hover:outline-brand`}
>
  <Twitter class="h-6 w-6 stroke-brand" />
  <span class="text-brand text-sm">Share</span>
</a>
