---
import { ChevronDown, Github, Linkedin, Twitter } from 'lucide-astro';
import { twJoin, twMerge } from 'tailwind-merge';
import Clipboard from './ui/clipboard.astro';
import Link from './ui/link.astro';
---

<details data-socials class="group relative">
  <summary
    class={twJoin(
      'group peer flex cursor-pointer select-none list-none items-center gap-1 rounded',
      'hover:text-emphasis focus-visible:outline-none focus-visible:ring-2',
      'motion-safe:transition-colors',
    )}
  >
    Socials
    <ChevronDown size={14} class="group-open:rotate-180 motion-safe:transition-transform" />
  </summary>
  <div
    class={twMerge(
      'absolute right-0 z-50 mt-2 min-w-[10rem] rounded border bg-2 opacity-0',
      'overflow-hidden group-open:opacity-100 motion-safe:transition-opacity',
    )}
  >
    <ul class="[&_a]:w-full [&_a]:gap-2 [&_a]:px-3 [&_a]:py-1.5 [&_a_[data-external-icon]]:ml-auto">
      <li><Link href={import.meta.env.GITHUB}><Github size={12} />Github</Link></li>
      <li><Link href={import.meta.env.TWITTER}><Twitter size={12} />Twitter/X</Link></li>
      <li><Link href={import.meta.env.LINKEDIN}><Linkedin size={12} />LinkedIn</Link></li>
      <li class="mt-2 border-t">
        <Clipboard
          aria-label="Copy Email"
          content={import.meta.env.EMAIL}
          class="w-full justify-between px-3 py-2"
        >
          Copy Email
        </Clipboard>
      </li>
    </ul>
  </div>
</details>

<script>
  const el = document.querySelector('[data-socials]') as HTMLDetailsElement;
  document.addEventListener('click', (e) => !el.contains(e.target as Node) && (el.open = false));
</script>
