---
import { type HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import Icon from '../../icon.astro';

type Props = HTMLAttributes<'button'>;

const { class: className, ...props } = Astro.props;
---

<button
  {...props}
  :aria-expanded="open"
  :aria-controls="$id('navigation-menu-dropdown')"
  x-ref="navigationMenuDropdownTrigger"
  @focusin.window="open = $el === $event.target || $refs.navigationMenuDropdownLinks?.contains($event.target)"
  @keydown.enter.prevent.stop="open = !open"
  @keydown.space.prevent.stop="open = !open"
  @touchstart="open = !open"
  class={twMerge(
    'flex items-center gap-2 rounded px-3 py-1.5',
    'focus:outline-none focus:ring-1 motion-safe:transition-colors',
    'group-hover:bg-3 group-hover:text-brand group-hover:[&_svg]:rotate-180',
    'group-focus-within:[&:not([aria-expanded=false])]:bg-3',
    'group-focus-within:[&:not([aria-expanded=false])]:text-brand',
    'group-focus-within:[&:not([aria-expanded=false])_svg]:rotate-180',
    className,
  )}
>
  <slot />
  <Icon name="chevron-down" class="motion-safe:transition-transform" />
</button>
