---
import { type HTMLAttributes } from 'astro/types';
import { ChevronDown } from 'lucide-astro';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'button'>;

const { class: className, ...props } = Astro.props;
---

<button
  {...props}
  aria-expanded="false"
  :aria-controls="$id('navigation-menu-dropdown')"
  @mouseenter="$el.ariaExpanded = true"
  @mouseleave="$el.ariaExpanded = false"
  @focusin="$el.ariaExpanded = true"
  @focusout="$el.ariaExpanded = false"
  class={twMerge(
    'flex items-center gap-2 rounded px-3 py-1.5',
    'group-hover:text-brand group-focus-within:text-brand',
    'group-focus-within:bg-3 group-hover:bg-3 motion-safe:transition-colors',
    'group-focus-within:outline-none group-focus-within:ring-1',
    className,
  )}
>
  <slot />
  <ChevronDown
    aria-hidden
    class="size-4 group-focus-within:rotate-180 group-hover:rotate-180 motion-safe:transition-transform"
  />
</button>
