---
import Component from '@/components/ui/link.astro';
import type { ComponentProps } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = ComponentProps<typeof Component>;

const { class: className, ...props } = Astro.props;
---

<li>
  <Component {...props} class={twMerge('hover:bg-surface-3 w-full gap-2 rounded px-2 py-1.5', className)}>
    <slot />
  </Component>
</li>
