---
import Component from '@/components/ui/link.astro';
import type { ComponentProps } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = ComponentProps<typeof Component>;

const { class: className, size, ...props } = Astro.props;
---

<li>
  <Component
    {...props}
    size={size ?? '1'}
    class={twMerge(
      'w-full justify-start gap-2 rounded px-2 py-1.5 not-italic hover:bg-accent-3 hover:text-accent-12',
      className,
    )}
  >
    <slot />
  </Component>
</li>
