---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  class={twMerge('bg-gray-2 border-gray-6 flex h-14 items-center gap-4 rounded-b border-t px-6', className)}
>
  <slot />
</div>
