@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: 'Geist Sans', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --font-serif: 'EB Garamond Variable', serif;

  --text-2xs: clamp(0.76rem, calc(0.76rem + (0.02 * (100vw - 20rem) / 76)), 0.8rem);
  --text-xs: clamp(0.87rem, calc(0.87rem + (0.02 * (100vw - 20rem) / 76)), 0.889rem);
  --text-sm: clamp(1rem, calc(1rem + (0.0417 * (100vw - 20rem) / 76)), 1.042rem);
  --text-base: clamp(1.125rem, calc(1.125rem + (0.125 * (100vw - 20rem) / 76)), 1.25rem);
  --text-lg: clamp(1.266rem, calc(1.266rem + (0.2344 * (100vw - 20rem) / 76)), 1.5rem);
  --text-xl: clamp(1.424rem, calc(1.424rem + (0.3762 * (100vw - 20rem) / 76)), 1.8rem);
  --text-2xl: clamp(1.602rem, calc(1.602rem + (0.5582 * (100vw - 20rem) / 76)), 2.16rem);
  --text-3xl: clamp(1.802rem, calc(1.802rem + (0.79 * (100vw - 20rem) / 76)), 2.592rem);
  --text-4xl: clamp(2.027rem, calc(2.027rem + (1.0831 * (100vw - 20rem) / 76)), 3.11rem);
  --text-5xl: clamp(2.281rem, calc(2.281rem + (1.4518 * (100vw - 20rem) / 76)), 3.732rem);
  --text-6xl: clamp(2.566rem, calc(2.566rem + (1.9132 * (100vw - 20rem) / 76)), 4.479rem);
  --text-7xl: clamp(2.887rem, calc(2.887rem + (2.4883 * (100vw - 20rem) / 76)), 5.375rem);
  --text-8xl: clamp(3.247rem, calc(3.247rem + (3.2024 * (100vw - 20rem) / 76)), 6.45rem);
  --text-9xl: clamp(3.653rem, calc(3.653rem + (4.0864 * (100vw - 20rem) / 76)), 7.74rem);
  --text-2xs--line-height: 1.6;
  --text-xs--line-height: 1.6;
  --text-sm--line-height: 1.6;
  --text-base--line-height: 1.6;
  --text-lg--line-height: 1.6;
  --text-xl--line-height: 1.2;
  --text-2xl--line-height: 1.2;
  --text-3xl--line-height: 1.2;
  --text-4xl--line-height: 1.1;
  --text-5xl--line-height: 1.1;
  --text-6xl--line-height: 1.1;
  --text-7xl--line-height: 1;
  --text-8xl--line-height: 1;
  --text-9xl--line-height: 1;

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
  --color-gray-contrast: var(--gray-contrast);

  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
  --color-accent-6: var(--accent-6);
  --color-accent-7: var(--accent-7);
  --color-accent-8: var(--accent-8);
  --color-accent-9: var(--accent-9);
  --color-accent-10: var(--accent-10);
  --color-accent-11: var(--accent-11);
  --color-accent-12: var(--accent-12);
  --color-accent-contrast: var(--accent-contrast);

  --color-code-foreground: var(--code-foreground);
  --color-code-background: var(--code-background);
  --color-code-token-constant: var(--code-token-constant);
  --color-code-token-string: var(--code-token-string);
  --color-code-token-comment: var(--code-token-comment);
  --color-code-token-keyword: var(--code-token-keyword);
  --color-code-token-parameter: var(--code-token-parameter);
  --color-code-token-function: var(--code-token-function);
  --color-code-token-string-expression: var(--code-token-string-expression);
  --color-code-token-punctuation: var(--code-token-punctuation);
  --color-code-token-link: var(--code-token-link);

  --default-transition-duration: 200ms;
}

[data-theme='light'] {
  @apply scheme-only-light;

  --gray-1: oklch(98.5% 0 none);
  --gray-2: oklch(90.9% 0 none);
  --gray-3: oklch(88.8% 0 none);
  --gray-4: oklch(86.1% 0 none);
  --gray-5: oklch(83.4% 0 none);
  --gray-6: oklch(80.6% 0 none);
  --gray-7: oklch(76.9% 0 none);
  --gray-8: oklch(70.5% 0 none);
  --gray-9: oklch(55.2% 0 none);
  --gray-10: oklch(51.7% 0 none);
  --gray-11: oklch(41.4% 0 none);
  --gray-12: oklch(24.3% 0 none);
  --gray-contrast: oklch(0% 0 none);

  --accent-1: oklch(93.4% 0 none);
  --accent-2: oklch(91.8% 0 none);
  --accent-3: oklch(88.8% 0 none);
  --accent-4: oklch(85.9% 0 none);
  --accent-5: oklch(83.3% 0 none);
  --accent-6: oklch(80.4% 0 none);
  --accent-7: oklch(76.5% 0 none);
  --accent-8: oklch(70.3% 0 none);
  --accent-9: oklch(55% 0 none);
  --accent-10: oklch(50.4% 0 none);
  --accent-11: oklch(41.7% 0 none);
  --accent-12: oklch(24.5% 0 none);
  --accent-contrast: oklch(100% 0 none);

  --code-foreground: oklch(6.3% 0 none);
  --code-background: oklch(100% 0 none);
  --code-token-constant: oklch(52.3% 0 none);
  --code-token-string: oklch(50.7% 0 none);
  --code-token-comment: oklch(68.2% 0 none);
  --code-token-keyword: oklch(52.3%% 0 none);
  --code-token-parameter: oklch(0% 0 none);
  --code-token-function: oklch(0% 0 none);
  --code-token-string-expression: oklch(50.7% 0 none);
  --code-token-punctuation: oklch(0% 0 none);
  --code-token-link: oklch(0% 0 none);
}

[data-theme='dark'] {
  @apply scheme-only-dark;

  --gray-1: oklch(0% 0 none);
  --gray-2: oklch(18.4% 0 none);
  --gray-3: oklch(23.9% 0 none);
  --gray-4: oklch(27.6% 0 none);
  --gray-5: oklch(30.9% 0 none);
  --gray-6: oklch(34.7% 0 none);
  --gray-7: oklch(40.1% 0 none);
  --gray-8: oklch(48.8% 0 none);
  --gray-9: oklch(53.8% 0 none);
  --gray-10: oklch(58.5% 0 none);
  --gray-11: oklch(77% 0 none);
  --gray-12: oklch(94.9% 0 none);
  --gray-contrast: oklch(100% 0 none);

  --accent-1: oklch(0% 0 none);
  --accent-2: oklch(18.4% 0 none);
  --accent-3: oklch(23.9% 0 none);
  --accent-4: oklch(27.6% 0 none);
  --accent-5: oklch(30.9% 0 none);
  --accent-6: oklch(34.7% 0 none);
  --accent-7: oklch(40.1% 0 none);
  --accent-8: oklch(48.7% 0 none);
  --accent-9: oklch(95.5% 0 none);
  --accent-10: oklch(92.7% 0 none);
  --accent-11: oklch(77% 0 none);
  --accent-12: oklch(94.9% 0 none);
  --accent-contrast: oklch(20% 0 none);

  --code-foreground: oklch(94.7% 0 none);
  --code-background: oklch(0% 0 none);
  --code-token-constant: oklch(67.3% 0 none);
  --code-token-string: oklch(76.7% 0 none);
  --code-token-comment: oklch(53.8% 0 none);
  --code-token-keyword: oklch(67.3%% 0 none);
  --code-token-parameter: oklch(100% 0 none);
  --code-token-function: oklch(100% 0 none);
  --code-token-string-expression: oklch(76.7% 0 none);
  --code-token-punctuation: oklch(100% 0 none);
  --code-token-link: oklch(100% 0 none);
}

@utility scrollbar {
  @apply [scrollbar-color:var(--gray-3)_transparent] [scrollbar-width:thin];
}

@utility rounded-border {
  @apply border-gray-6 rounded border;
}

@utility focusable {
  @apply focus-visible:ring-gray-8 focus-visible:ring focus-visible:outline-none;
}

@utility counter-root {
  @apply [counter-reset:counter];
}

@utility counter-item {
  @apply before:content-[counter(counter,decimal-leading-zero)_"."] before:[counter-increment:counter];
  @apply before:text-gray-11 before:mr-2 before:text-sm;
}

/* prettier-ignore */
@keyframes scroll-progress { to { --scroll-progress: 100; } }
/* prettier-ignore */
@property --scroll-progress { initial-value: 0; syntax: '<integer>'; inherits: true; }
@utility scroll-progress-root {
  @apply [counter-reset:scroll-progress_var(--scroll-progress)];
  @apply [scroll-timeline:--scroll-progress-root] [timeline-scope:--scroll-progress-root];
  @apply [animation:scroll-progress_both_linear] [animation-timeline:--scroll-progress-root];
  @apply [animation-duration:1ms];
}

@utility scroll-progress-item {
  @apply before:content-[counter(scroll-progress)_'%'];
}
