---
import { type HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';
import Icon from './icon.astro';

export const buttonVariants = tv({
  base: [
    'inline-flex shrink-0 items-center justify-center gap-2 whitespace-nowrap rounded',
    'disabled:opacity-50 disabled:cursor-not-allowed motion-safe:transition-colors',
    'focus-visible:outline-none focus-visible:ring-ring focus-visible:ring-1',
  ],
  defaultVariants: { color: 'neutral', size: 'sm' },
  variants: {
    color: {
      neutral: 'bg-surface-3 enabled:hover:text-brand enabled:hover:bg-surface-3/90',
      ghost: 'enabled:hover:text-brand enabled:hover:bg-surface-3',
    },
    size: { sm: 'h-8 px-3 text-xs', icon: 'size-8 [&_svg]:size-4' },
  },
});

type Props = HTMLAttributes<'button'> & VariantProps<typeof buttonVariants> & { icon?: string };

const { class: className, color, size, icon, ...props } = Astro.props;
---

<button {...props} class={buttonVariants({ color, size, className })}>
  <slot />
  {size === 'icon' && icon && <Icon name={icon} />}
</button>
