---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'button'>;

const { class: className, type, ...props } = Astro.props;
---

<button
  {...props}
  type={type ?? 'button'}
  class={twMerge(
    'inline-flex items-center gap-2 rounded border px-3 py-1',
    'hover:bg-2 hover:text-emphasis motion-safe:transition-colors',
    'focus-visible:outline-none focus-visible:ring-2',
    className,
  )}
>
  <slot />
</button>
