---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = Omit<HTMLAttributes<'input'>, 'type'> & { value: string };

const { class: className, value, ...props } = Astro.props;
---

<label class={twMerge('bg-surface-3 text-foreground-2 border-border relative flex rounded border px-2', className)}>
  <input
    {...props}
    {value}
    type="checkbox"
    class="peer focus-visible:ring-ring absolute inset-0 cursor-pointer appearance-none rounded checked:ring-1 focus-visible:ring-1 focus-visible:outline-none"
  />
  <div class="peer-checked:text-brand peer-hover:text-brand text-xs motion-safe:transition-colors">{value}</div>
</label>
