---
import type { HTMLAttributes } from 'astro/types';
import { Check, Clipboard as ClipboardIcon } from 'lucide-astro';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'button'> & { content?: string; target?: string };

const { class: className, 'aria-label': ariaLabel, content, target, ...props } = Astro.props;
---

<button
  {...props}
  x-data="{ copied: false }"
  x-cloak
  aria-label={ariaLabel ?? 'Copy to clipboard'}
  @click={`navigator.clipboard.writeText(${target} ? ${target}?.textContent?.trim() : "${content}").then(() => copied = true)`}
  @mouseleave.debounce.1000ms="copied && (copied = false)"
  class={twMerge(
    'group flex select-none items-center gap-2 rounded p-2 hover:bg-3 hover:text-brand [&[x-cloak]]:hidden',
    'focus-visible:outline-none focus-visible:ring motion-safe:transition-colors',
    className,
  )}
>
  <slot />
  <ClipboardIcon class="size-3.5 animate-in zoom-in-0" aria-hidden x-show="!copied" />
  <Check class="size-3.5 animate-in zoom-in-0" aria-hidden x-show="copied" />
</button>
