---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const id = crypto.randomUUID();
const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  x-data="{ expanded: false }"
  x-init=`() => {
    $el.firstElementChild?.setAttribute("aria-controls", "${id}");
    $el.firstElementChild?.addEventListener("click", () => expanded = !expanded);
  }`
  class={twMerge('', className)}
>
  <slot name="collapsible-trigger" />
  <div {id} x-show="expanded" x-collapse x-cloak class="[&[x-cloak]]:hidden"><slot /></div>
</div>
