---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;
---

<div
  {...Astro.props}
  x-data="{ expanded: false }"
  x-id="['collapsible']"
  x-init=`() => {
    $el.firstElementChild?.setAttribute("aria-controls", $id('collapsible'));
    $el.firstElementChild?.addEventListener("click", () => expanded = !expanded);
  }`
>
  <slot name="collapsible-trigger" />
  <div :id="$id('collapsible')" x-show="expanded" x-collapse x-cloak><slot /></div>
</div>
