---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'dialog'>;

const { class: className, ...props } = Astro.props;
---

<dialog {...props} class="overflow-hidden backdrop:bg-2/50 backdrop:backdrop-blur-sm">
  <div
    class={twMerge(
      'fixed left-1/2 top-1/4 z-50 flex w-[90vw] max-w-screen-sm -translate-x-1/2',
      '-translate-y-1/4 flex-col overflow-auto rounded border bg-1 p-6 text-1',
      className,
    )}
  >
    <slot />
  </div>
</dialog>
<slot name="trigger" />
<output></output>

<script>
  document.addEventListener('astro:page-load', () => {
    const setOverflow = () => document.body.classList.toggle('overflow-hidden');
    const showDialog = (dialog: HTMLDialogElement) => (dialog.showModal(), setOverflow());
    const hideDialog = (dialog: HTMLDialogElement) => (dialog.close(), setOverflow());

    document.querySelectorAll('dialog').forEach((dialog) => {
      dialog.nextElementSibling?.addEventListener('click', () => showDialog(dialog));
      document.addEventListener('click', (event) => event.target === dialog && hideDialog(dialog));
      document.addEventListener('keydown', (e) => {
        if (e.key === 'Escape') setOverflow();
        else if (e.key === 'k' && (e.metaKey || e.ctrlKey)) e.preventDefault(), showDialog(dialog);
      });
    });
  });
</script>
