---
import type { HTMLAttributes } from 'astro/types';
import { ArrowUpRight } from 'lucide-astro';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'a'>;

const { class: className, href, target, rel, ...props } = Astro.props;
const external = href?.toString().startsWith('https://');
---

<a
  {...props}
  href={href}
  target={external ? '_blank' : target}
  rel={external ? 'nofollow noopener noreferrer' : rel}
  class={twMerge(
    'inline-flex items-center justify-center gap-1 rounded motion-safe:transition-colors',
    'hover:text-brand focus-visible:outline-none focus-visible:ring-1',
    className,
  )}
>
  <slot />
  {external && <ArrowUpRight aria-hidden class="size-3 text-2" />}
</a>
