---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import Icon from './icon.astro';

type Props = HTMLAttributes<'a'> & { icon?: string };

const { class: className, href, target, rel, icon, ...props } = Astro.props;
const external = href?.toString().startsWith('https://');
---

<a
  {...props}
  href={href}
  target={external ? '_blank' : target}
  rel={external ? 'nofollow noopener noreferrer' : rel}
  class={twMerge(
    'inline-flex items-center justify-center gap-1 rounded motion-safe:transition-colors',
    'hover:text-brand focus-visible:outline-none focus-visible:ring-1',
    className,
  )}
>
  {icon ? <Icon name={icon} /> : <slot />}
  {external && !icon && <Icon name="arrow-up-right" data-external-icon class="size-3 text-2" />}
</a>
