---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';
import Icon from './icon.astro';

type Props = HTMLAttributes<'aside'>;

const id = crypto.randomUUID();
const { class: className, ...props } = Astro.props;
---

<aside
  {...props}
  aria-labelledby={id}
  class={twMerge('flex items-start gap-2 rounded border border-l-8 bg-2 px-4 py-3 text-xs', className)}
>
  <p {id} aria-label="Note" aria-hidden><Icon name="info" class="translate-y-1 text-2" /></p>
  <section><slot /></section>
</aside>
