---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type BaseProps = Omit<HTMLAttributes<'div'>, 'role'>;
type AdditionalProps = { orientation?: 'horizontal' | 'vertical' };
type Props = BaseProps & AdditionalProps;

const { class: className, orientation = 'horizontal', ...props } = Astro.props;
---

<div
  {...props}
  role="none"
  class={twMerge(
    'shrink-0 rounded bg-3',
    orientation === 'horizontal' ? 'h-px w-full' : 'h-full w-px',
    className,
  )}
>
</div>
