---
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';

const variants = tv({
  base: 'shrink-0 rounded bg-[hsl(var(--border))]',
  defaultVariants: { orientation: 'horizontal' },
  variants: { orientation: { horizontal: 'h-px w-full', vertical: 'h-full w-px' } },
});

type Props = HTMLAttributes<'div'> & VariantProps<typeof variants>;

const { class: className, orientation, ...props } = Astro.props;
---

<div {...props} role="none" class={variants({ orientation, className })}></div>
