---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div {...props} role="presentation" class={twMerge('bg-2 motion-safe:animate-pulse', className)}></div>
