---
import { MoonStar, Sun } from 'lucide-astro';
import Button from './button.astro';
---

<Button
  x-data
  color="ghost"
  size="icon"
  aria-label="Toggle theme"
  @click={`
    document.documentElement.classList.toggle('dark');
    localStorage.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light'
`}
>
  <Sun class="hidden animate-in motion-safe:fade-in-0 motion-safe:zoom-in-0 dark:block" />
  <MoonStar class="animate-in motion-safe:fade-in-0 motion-safe:zoom-in-0 dark:hidden" />
</Button>

<script is:inline>
  function setTheme(root) {
    if ('theme' in localStorage) root.classList.toggle('dark', localStorage.theme === 'dark');
    else if (window.matchMedia('(prefers-color-scheme: dark)').matches) root.classList.add('dark');
    else root.classList.remove('dark');
  }

  setTheme(document.documentElement);
  document.addEventListener('astro:before-swap', (event) => setTheme(event.newDocument.documentElement));
</script>
