---
import Button from './button.astro';
import Icon from './icon.astro';
---

<Button
  x-data
  color="ghost"
  size="icon"
  aria-label="Toggle theme"
  @click={`
    document.documentElement.classList.toggle('dark');
    localStorage.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';  
    $el.firstElementChild.classList.add('starting:scale-0');
`}
>
  <Icon name="sun" class="hidden scale-100 duration-300 motion-safe:transition-all dark:block" />
  <Icon name="moon-star" class="scale-100 duration-300 motion-safe:transition-all dark:hidden starting:scale-0" />
</Button>

<script is:inline>
  function setTheme(root) {
    if ('theme' in localStorage) root.classList.toggle('dark', localStorage.theme === 'dark');
    else if (window.matchMedia('(prefers-color-scheme: dark)').matches) root.classList.add('dark');
    else root.classList.remove('dark');
    localStorage.theme = root.classList.contains('dark') ? 'dark' : 'light';
  }

  setTheme(document.documentElement);
  document.addEventListener('astro:before-swap', (event) => setTheme(event.newDocument.documentElement));
</script>
