---
import { MoonStar, Sun } from 'lucide-astro';
import Button from './button.astro';
---

<Button
  x-data="{ theme: localStorage.theme ?? 'light' }"
  color="ghost"
  size="icon"
  aria-label="Toggle theme"
  @click={`
    document.documentElement.classList.toggle('dark');
    localStorage.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light';
    theme = localStorage.theme;
`}
>
  <Sun
    x-show="theme === 'dark'"
    class="hidden dark:block"
    x-transition:enter="animate-in motion-safe:fade-in-0 motion-safe:zoom-in-0"
  />
  <MoonStar
    x-show="theme === 'light'"
    class="dark:hidden"
    x-transition:enter="animate-in motion-safe:fade-in-0 motion-safe:zoom-in-0"
  />
</Button>

<script is:inline>
  function setTheme(root) {
    if ('theme' in localStorage) root.classList.toggle('dark', localStorage.theme === 'dark');
    else if (window.matchMedia('(prefers-color-scheme: dark)').matches) root.classList.add('dark');
    else root.classList.remove('dark');
  }

  setTheme(document.documentElement);
  document.addEventListener('astro:before-swap', (event) => setTheme(event.newDocument.documentElement));
</script>
